.card{
  background-color:#0000004f;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.512) 0px 3px 20px;
  min-height: 40%;
  min-width: 40%
}

h1{
  color: white;
}

task-carrousel{
  flex-wrap: wrap;
}

.task-card{
  margin: 0.5rem;

  min-width: 17rem;
  max-width: 17rem;
  height: auto;
}

.visibility-hidden{
  visibility: hidden;
  padding: 6px 12px;
  min-height: 0rem;
}
