<div id="page-auth" >
  <aside>
    <h1 class="black"><i class="bi bi-clock mx-1"></i>Task Manager</h1>
    <h3> <i class="bi bi-calendar mx-1"></i> Gerenciamento de tarefas</h3>

  </aside>
  <hr/>
  <main class="d-flex justify-content-center align-items-center w-100">
    <div
      [formGroup]="userFG"
      class="card m-3"
    >
      <div class="d-flex flex-column justify-content-center m-3">
        <h3 class="text-center"> <i class="bi bi-clock mx-1"></i>Task Manager</h3>
        <h5 class="text-center"> Cadastro de Usuário</h5>
      </div>
      <div class="form-group mx-3 mb-2" >
        <div class="row  d-flex align-items-center">
          <div class="col"><hr></div>
          <div class="col-auto">Nome</div>
          <div class="col"><hr></div>
        </div>
        <input
          type="text"
          formControlName="name"
          placeholder="Digite seu nome"
          (keyup.enter)="signUp()"
          class="form-control"
        />
        <div *ngIf="invalidFields && userFG.invalid">
          <small
            class="p-error"
            *ngIf="userFG.controls['name'].errors?.['required']"
          >
            Preenchimento obrigatório
          </small>
        </div>
      </div>
      <div class="form-group mx-3 mb-2" >
        <div class="row  d-flex align-items-center">
          <div class="col"><hr></div>
          <div class="col-auto">Nome de usuário</div>
          <div class="col"><hr></div>
        </div>
        <input
          type="text"
          formControlName="username"
          placeholder="Digite seu nome de usuário"
          (keyup.enter)="signUp()"
          class="form-control"
        />
        <div *ngIf="invalidFields && userFG.invalid">
          <small
            class="p-error"
            *ngIf="userFG.controls['username'].errors?.['required']"
          >
            Preenchimento obrigatório
          </small>
        </div>
      </div>
      <div class="form-group mx-3" >
        <div class="row d-flex align-items-center">
          <div class="col"><hr></div>
          <div class="col-auto">Senha</div>
          <div class="col"><hr></div>
        </div>
        <input
          type="password"
          formControlName="password"
          (keyup.enter)="signUp()"
          placeholder="Digite sua senha"
          class="form-control"
        />
        <div *ngIf="invalidFields && userFG.invalid">
          <small
            class="p-error"
            *ngIf="userFG.controls['password'].errors?.['required']"
          >
            Preenchimento obrigatório
          </small>
        </div>
      </div>
      <div class="form-group " style="margin: 0 1rem; min-width: 150px">
        <button
          class="btn btn-primary px-5 my-3 shadow w-100"
          (click)="signUp()"
          (keypress.enter)="signUp()"          
        >
          Cadastrar-se
        </button>
      </div>
    </div>
  </main>